<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://127.0.0.1:8948/api/v1/static/favicon.ico"  type="image/x-icon" >
    <script src="http://127.0.0.1:8948/api/v1/static/js/axios.min.js"></script>
    <script src="http://127.0.0.1:8948/api/v1/static/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="http://127.0.0.1:8948/api/v1/static/css/bootstrap.min.css">
    <script src="http://127.0.0.1:8948/api/v1/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://127.0.0.1:8948/api/v1/static/css/article_content.css">
    <script src="http://127.0.0.1:8948/api/v1/static/js/showdown.min.js"></script>
    <title>{{ .Title }}</title>
</head>
<style>
</style>
<body>
<div class="container">
    <div class="row">
        <h1 class="offset-md-1 col-md-8 col-sm-12" id="banner" onclick="go_home()">BBLOG</h1>
    </div>

    <div>
        <h1 class="title col-md-12">{{ .Title }}</h1>
        <hr class="col-md-12">
        <div class="col-md-12">
            <div class="alert alert-light content text" role="alert" id="text">{{ .Content }}</div>
        </div>
        <hr class="col-md-12">


    </div>

    <div class="col-md-12">
        <h3 class="comment-head">COMMENTS&nbsp;&nbsp;<span class="badge badge-dark">{{ .CommentCount }}</span>&nbsp;:</h3>
        {{ range .Comments }}
            <div class="alert alert-info col-md-10 offset-md-1" role="alert">
                <h4 class="alert-heading">{{ .Author }}：</h4>
                <p>{{ .Text }}</p>
            </div>
        {{ else }}
            <div class="alert alert-dark col-md-10 offset-md-1" role="alert">
                No comment yet,anything you want to say?
            </div>
        {{ end }}
    </div>

    <div class="row">
        <h3 class="comment-head col-md-12">ADD YOUR COMMENT</h3>
        <div class="col-md-10 offset-md-1">
            <div class="form-group">
                <label for="nickname">Nickname:</label>
                <input type="text" class="form-control" id="nickname" placeholder="input you nickname,please.">
            </div>
            <div class="form-group">
                <label for="comment">Input comment:</label>
                <textarea class="form-control" id="comment" rows="4"></textarea>
            </div>
{{/*    tosat*/}}
            <div aria-live="polite" aria-atomic="true" style="position: absolute;top: 16.5em;right: 42em;">
                <div class="toast">
                    <div class="toast-header" id="toast-1">
                        <strong class="mr-auto" id="toast-message"></strong>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-outline-secondary" onclick="comment()">Submit</button>
        </div>
        </div>
    </div>

    <div id="test-showdown">

    </div>
<div class="footer"></div>
</div>
</body>
<script>
    var converter = new showdown.Converter(),
        text =  document.getElementById("text").innerHTML,
        html      = converter.makeHtml(text);
    document.getElementById("text").innerHTML = html
    function comment() {
        user_nickname = document.getElementById("nickname").value
        user_comment = document.getElementById("comment").value
        href = window.location.href
        articleid = href.split("/")[6]
        url = "http://127.0.0.1:8948/api/v1/comment/"+articleid
        axios.post(url, {
            "nickname": user_nickname,
            "comment": user_comment
        }).then(function (response) {
            if (response.data.Status == 0){
                document.getElementById("toast-message").innerText="comment succeffully."
                $(".toast").toast("show")
                window.location.reload()
            }else {
                document.getElementById("toast-message").innerText="comment failed."
                $(".toast").toast("show")
            }
        }).catch(function (error) {
        });
    }

    function go_home() {
        window.location.assign("http://127.0.0.1:8948/api/v1/home")
    }
</script>
</html>