<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBLOG,WELCOME!</title>
    <link rel="shortcut icon" href="http://127.0.0.1:8948/api/v1/static/favicon.ico"  type="image/x-icon" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://127.0.0.1:8948/api/v1/static/css/article.css">
</head>
<style>
</style>
<body>
<div class="container">
    <ul class="row">
        <h1 class="offset-md-2 col-md-8 col-sm-12" id="banner">BBLOG</h1>
        <h3 class="offset-md-2 col-md-2 col-sm-12" id="welcome">welcome!!!</h3>

        {{ range .ArticleSet }}
            <div class="jumbotron jumbotron-fluid col-md-8 offset-md-2">
                <div class="container">
                    <h1 class="display-4" onclick="getArticleContent()"  article-id="{{ .UUID }}">{{ .Title }}</h1>
                    <p class="lead">{{ .Description }}</p>
                </div>
            </div>
            <hr>
        {{ else }}
            <h1 class="offset-md-2 col-md-8 col-sm-12" id="can_not_find">can't find article.</h1>
        {{ end }}

        <div class="card offset-md-2 col-md-8 ">
            <div class="card-body">
                <h5 class="card-title">Write Article</h5>
                <p class="card-text">write article with password,if you have the right.</p>
                <a href="http://127.0.0.1:8948/api/v1/write_article/write" class="btn btn-info">Go</a>
            </div>
        </div>
    </ul>
    <div class="row justify-content-md-center">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                {{ range .Page }}
                <button type="button" class="btn btn-secondary" onclick="changePage()">{{ . }}</button>
                {{ end }}
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">

        </div>
    </footer>
</div>
</body>

<script>
    function getArticleContent() {
        articleID = event.target.getAttribute("article-id")
        url = "http://127.0.0.1:8948/api/v1/article_content/" + articleID
        window.open(url,"_blank")
        console.log(url)
    }
    function changePage(){
        rawOffset = event.target.innerHTML
        offset = (rawOffset-1) * 4
        url = "http://127.0.0.1:8948/api/v1/home?offset=" + offset
        window.location.assign(url)
    }
</script>
</html>