<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://127.0.0.1:8948/api/v1/static/favicon.ico"  type="image/x-icon" >
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src=""></script>
    <link rel="stylesheet" href="http://127.0.0.1:8948/api/v1/static/css/login.css">
    <title>{{ .Title }}</title>
</head>
<style>
</style>
<body>
<div class="container">
    <div class="card-my">
        <div class="row" onclick="go_home()">
            <h1 class="offset-md-4 col-md-4 col-sm-12" id="banner">BBLOG</h1>
        </div>

        <div>
            <form>
                <div class="form-group row">
                    <div class="col-md-4 offset-md-4">
                        <input id="password" type="password" class="form-control" style="width: 100%">
                    </div>
                </div>
                <div class="form-group row">
                    <button type="button" class="btn btn-info col-md-2 offset-md-5" onclick="login()">Go</button>
                </div>
            </form>
        </div>
    </div>
<div class="footer"></div>
</div>
</body>
<script>
    function go_home() {
        window.location.assign("http://127.0.0.1:8948/api/v1/home")
    }

    function login() {
        loginUrl = "http://127.0.0.1:8948/api/v1/authenticate"
        axios.post(loginUrl, {
            "password":document.getElementById("password").value
        }).then(function (response) {
            console.log(response)
            console.log(response.data.Msg)
            if (response.data.Msg != "success") {
                 alert("密码错误")
            }else {
                window.location.assign("http://127.0.0.1:8948/api/v1/write_article/write")
            }
        }).catch(function (error) {
        })
    }
</script>
</html>