
<!doctype html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://127.0.0.1:8948/api/v1/static/favicon.ico"  type="image/x-icon" >
    <script src="http://127.0.0.1:8948/api/v1/static/js/axios.min.js"></script>
    <script src="http://127.0.0.1:8948/api/v1/static/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="http://127.0.0.1:8948/api/v1/static/css/bootstrap.min.css">
    <script src="http://127.0.0.1:8948/api/v1/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://127.0.0.1:8948/api/v1/static/css/article_content.css">
    <script src="http://127.0.0.1:8948/api/v1/static/js/showdown.min.js"></script>
    <link rel="stylesheet" href="http://127.0.0.1:8948/api/v1/static/css/write_article.css">
    <script src="http://127.0.0.1:8948/api/v1/static/js/markdown-it.min.js"></script>
</head>
<style>
</style>
</head>
<body>
<body>
<div class="container">
    <ul class="row">
        <h1 class="offset-md-1 col-md-8 col-sm-12" id="banner" onclick="go_home()">BBLOG</h1>
        <h3 class="offset-md-1 col-md-8 col-sm-12 welcome" id="welcome">welcome!</h3>
    </ul>
</div>

<div class="all">
    <div class="left">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="form-group">
                    <label for="title" class="title">Title:</label>
                    <input form="title" class="form-control" id="title" placeholder="input you title,please.">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input form="description" class="form-control" id="description" placeholder="input you description,please.">
                </div>
                <div class="form-group">
                    <label for="content">Input Article:</label>
                    <textarea form="content" class="form-control" id="content" rows="12"></textarea>
                </div>
                <button type="button" class="btn btn-outline-secondary" id="upload-btn" onclick="upload()">Submit</button>
                <div aria-live="polite" aria-atomic="true">
                    <div class="toast">
                        <div class="toast-header" id="toast-1">
                            <strong class="mr-auto" id="toast-message"></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="right">
        <div class="show">
            <h1 class="display display-header">预览区域</h1>
            <hr>
            <div id="show-content" class="display"></div>
        </div>
    </div>

</div>
</body>

</body>
<script>
    interval = setInterval(function () {
        // var converter = new showdown.Converter();
        var text      = document.getElementById("content").value;
        //     html      = converter.makeHtml(text);
        var md = window.markdownit();
        var result = md.render(text);
        document.getElementById("show-content").innerHTML = result
    },200)

    function upload() {
        title = document.getElementById("title").value
        description = document.getElementById("description").value
        content = document.getElementById("content").value
        console.log(content)
        url = "http://127.0.0.1:8948/api/v1/write_article/upload_article"
        axios.post(url, {
            "title": title,
            "description": description,
            "content":content
        }).then(function (response) {
            console.log(response.data.Status)
            if (response.data.Status == 0){
                document.getElementById("toast-message").innerText="upload successfully."
                $(".toast").toast("show")
                document.getElementById("upload-btn").classList.add("disabled")
                document.getElementById("upload-btn").removeAttribute("onclick")
            }else{
                document.getElementById("toast-message").innerText="upload failed."
                $(".toast").toast("show")
            }
        }).catch(function (error) {
        });
    }

    function go_home() {
        window.location.assign("http://127.0.0.1:8948/api/v1/home")
    }
</script>
</html>
